doctype html

html
  head
    title Social-Media-Demo
    script(type="text/javascript" src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js")
    link(href="https://fonts.googleapis.com/css?family=Dosis:200,300,400,700" rel="stylesheet")/
    link(href="https://fonts.googleapis.com/css?family=Roboto:100,300,400" rel="stylesheet")/
    link(href="https://use.fontawesome.com/releases/v5.0.2/css/all.css" rel="stylesheet")/

  body
    #root
