#nav-bar{
  height: 40px;
  left: 0px;
  padding: 10px 15px;
  position: fixed;
  top: 0px;
  transition: background-color 0.25s;
  width: calc(100% - 30px);
  z-index: 10000;

  #nav-bar-items{
    height: 40px;
    margin: 10px 20px;
    position: absolute;
    right: 0px;
    top: 0px;

    .nav-bar-item{
      display: inline-block;
      height: 40px;
      margin-left: 20px;
      overflow: hidden;
      text-align: right;

      h1{
        color: $lightMajenta;
        display: inline-block;
        font-size: 0.95em;
        line-height: 12px;
        margin: 0px;
        vertical-align: top;
      }
    }
  }
}
