@import './util.scss';

@import '../pages/home/home.scss';
@import '../pages/landing/landing.scss';
@import '../navBar/navBar.scss';

html{
  font-family: 'Roboto', sans-serif;
  width: 100%;

  h1, input{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
  }
}

body, html, #root, #app{
  margin: 0px;
  overflow: auto;
  padding: 0px;
}

#app{
  background-color: $gray240;
}
